
:root {
    --primary-color: #ffffff; /* sand beige */
    --secondary-color: #dadd29; /* sunset yellow */
    --accent1-color: #0a0a0a; /* black */
    --accent2-color: #1060aa;  /* river blue */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif; 
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    font-family: var(--heading-font);
    color: var(--accent2-color)
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 10px;
    width: 50%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
}

.hero article {
    width: 250px;
    float: right;
    position: absolute;
}

.hero article img {
    width: 250px;
    float: right;
}

/*.hero article img p {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--secondary-color);
} */
