
:root {
    --primary-color: #ffffff; /* sand beige */
    --secondary-color: #dadd29; /* sunset yellow */
    --accent1-color: #0a0a0a; /* black */
    --accent2-color: #1060aa;  /* river blue */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color)
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 5px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: var(--accent2-color)
}

.hero article {
    position: absolute;
    opacity: 0.9;
    top: 295px;
    right: 3px;
    width: 100%;
}

.hero article img {
    top: 30px;
    float: right;
    width: 125px;
    margin-top: 30px;
}

.hero article p {
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 15px;
    font-family: var(--body-font);
    text-align: center;
    opacity: 10;
    color: var(--primary-color);
    background-color: var(--accent2-color);
}

h2 {
    position: relative;
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: var(--heading-font);
    border-radius: 25px;
    border-style: solid;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    text-decoration: none;
    width: 32px;
    height: auto;
    margin: 0 8px;
}
