* {
    box-sizing: border-box;
     margin: 0;
    padding: 0;
}

:root {
    --main-color: darkblue;
    --height: auto;
    --secondary-color: white;
    --border-color:grey;
    --accent-color: black;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color)
}

main img {
    width: 150px;
    height: var(--height);
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 10px var(--accent-color);
    float: right;
    position: relative;
}

p {
    padding-left: 1%;
}

main {
    max-width: 840px;
}

aside {
    width: 20em;
    color: #333;
    border: 5px solid rgb(0 0 0 / 10%);
    text-align: center;
    box-shadow: 0 0 10px var(--border-color);
}

aside img {
    width: 200px;
    height: var(--height);
}

aside h2 {
    position: relative;
    top: 40px;
    left: 5px;
    color: var(--border-color);
} 

footer {
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid var(--accent-color)
}

/* class selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--accent-color);
}