:root {
    --main-color: rgb(16, 51, 206);
    --height: auto;
    --secondary-color: white;
    --border-color:rgb(185, 182, 182);
    --accent-color: black;
    --footer-bg: rgb(11, 100, 160);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: block;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    background-color: var(--main-color);
}

nav {
    background-color: var(--main-color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

main img {
    width: 150px;
    height: var(--height);
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 10px var(--accent-color);
    float: right;
    position: relative;
}

h1 {
    padding: 1rem;
}

p {
    padding: 1rem;
    color: var(--accent-color);
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    color: #333;
    border: 5px solid rgb(0 0 0 / 10%);
    text-align: center;
    box-shadow: 0 0 10px var(--border-color);
    position: relative;
}

aside img {
    padding-left: 2rem;
    width: 80%;
    height: var(--height);
    display: block;
}

aside h2 {
    position: absolute;
    left: 70px;
    bottom: 450px;
    color: var(--main-color);
    }

    header, footer {
        max-width: 840px;
        margin: 0 auto;
    }

footer {
    /*text-align: center;
    margin-top: 10px;
    border-top: 1px solid var(--accent-color);*/
    background-color: var(--footer-bg);
    padding: 2rem 1rem;
    color: var(--secondary-color);
}

ul {
    list-style: none;
    padding: 1rem;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    color: var(--accent-color);
    background-color: var(--secondary-color);
    border: 1px solid rgb(0 0 0 / 10%);
}