:root {
    --main-color: rgb(16, 51, 206);
    --height: auto;
    --secondary-color: white;
    --border-color:rgb(185, 182, 182);
    --accent-color: black;
    --footer-bg: rgb(11, 100, 160);
    --hover-color: rgb(199, 131, 67);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--main-color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: flex;
    color: var(--secondary-color);
    padding: 0.5rem;
    background-color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 700;
}

nav a:hover {
    background-color: var(--hover-color);
}

a {
    color: var(--secondary-color);
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    background-color: var(--footer-bg);
}

h1 {
    color: var(--main-color);
    padding-bottom: 2px;
    border-bottom: 2px solid var(--main-color);
}

h1 {
    padding: 1rem;
}

.grid p {
    padding: 1rem;
    color: var(--accent-color);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: var(--height);
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 10px var(--accent-color);
    float: right;
    position: relative;
}

aside {
    width: 20rem;
    color: #333;
    border: 5px solid rgb(0 0 0 / 10%);
    text-align: center;
    box-shadow: 0 0 10px var(--border-color);
    position: relative;
}

aside h2 {
    position: absolute;
    top: 2rem;
    left: 4rem;
    color: var(--main-color);
}

aside img {
    padding-left: 2rem;
    width: 80%;
    height: var(--height);
    display: block;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: auto 360px;
}

footer {
    /*text-align: center;
    margin-top: 10px;
    border-top: 1px solid var(--accent-color);*/
    color: var(--secondary-color);
    background-color: var(--footer-bg);
    padding: 2rem 1rem;
}

ul {
    list-style: none;
    padding: 1rem;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    color: var(--accent-color);
    background-color: var(--secondary-color);
    border: 1px solid rgb(0 0 0 / 10%);
}