* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

header p {
    font-size: 1.6em;
}

h1 {
    text-align: center;
    margin: 15px;
}

main {
    margin: 0 auto;
    max-width: 450px;
    display: block;
}